body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 3em;
}

.page {
  animation: background-scroll 1s ease-in-out infinite alternate;
  background: linear-gradient(#ff00ff, #00ff00, #ff00ff);
  background-size: 100% 300%;
  color: #ffffff;
  display: table;
  height: inherit;
  position: absolute;
  width: inherit;
}

.centre {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.rainbow {
  animation: rainbow-swing 0.1s linear infinite;
  box-sizing: content-box;
  text-overflow: clip;
}

.reverse {
  animation-direction: reverse;
}

@keyframes rainbow-swing {
  0% {
    text-shadow: 0 0 +12px rgb(0, 0, 0), 0 +3px 0 rgb(255, 0, 0),
      0 +6px 0 rgb(255, 127, 0), 0 +9px 0 rgb(255, 255, 0),
      0 +12px 0 rgb(0, 127, 63), 0 +15px 0 rgb(0, 127, 255),
      0 +18px 0 rgb(0, 63, 127), 0 +21px 0 rgb(63, 63, 127);
  }
  25% {
    text-shadow: 0 0 +12px rgb(0, 0, 0), +3px 0 0 rgb(255, 0, 0),
      +6px 0 0 rgb(255, 127, 0), +9px 0 0 rgb(255, 255, 0),
      +12px 0 0 rgb(0, 127, 63), +15px 0 0 rgb(0, 127, 255),
      +18px 0 0 rgb(0, 63, 127), +21px 0 0 rgb(63, 63, 127);
  }
  50% {
    text-shadow: 0 0 +12px rgb(0, 0, 0), 0 -3px 0 rgb(255, 0, 0),
      0 -6px 0 rgb(255, 127, 0), 0 -9px 0 rgb(255, 255, 0),
      0 -12px 0 rgb(0, 127, 63), 0 -15px 0 rgb(0, 127, 255),
      0 -18px 0 rgb(0, 63, 127), 0 -21px 0 rgb(63, 63, 127);
  }
  75% {
    text-shadow: 0 0 +12px rgb(0, 0, 0), -3px 0 0 rgb(255, 0, 0),
      -6px 0 0 rgb(255, 127, 0), -9px 0 0 rgb(255, 255, 0),
      -12px 0 0 rgb(0, 127, 63), -15px 0 0 rgb(0, 127, 255),
      -18px 0 0 rgb(0, 63, 127), -21px 0 0 rgb(63, 63, 127);
  }
  100% {
    text-shadow: 0 0 +12px rgb(0, 0, 0), 0 +3px 0 rgb(255, 0, 0),
      0 +6px 0 rgb(255, 127, 0), 0 +9px 0 rgb(255, 255, 0),
      0 +12px 0 rgb(0, 127, 63), 0 +15px 0 rgb(0, 127, 255),
      0 +18px 0 rgb(0, 63, 127), 0 +21px 0 rgb(63, 63, 127);
  }
}

@keyframes background-scroll {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% 300%;
  }
}
